@import "./reset.css";

:root {
    --app-dark-bg:#1a1d28;
    --app-red:#ff3c57;
    --app-green:#33ab4e;
    --app-purple:#833cff;
    --app-orange:#ff833c;
    --app-orange-hover:#fe7a2d;
    --app-blue:#3c57ff;
    --app-blue-hover:#364ee6;
    --app-light-bg: #ffffff;
}

body {
  background: var(--app-dark-bg);
}

h1, h2, h3, a, p {
  color: var(--app-light-bg);
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.main-container{
  margin: 0px auto;
  padding: 25px;
  border-radius: 5px;
}


header {
  min-width: 100%;
  background: var(--app-dark-bg);
  overflow: hidden;
}

.flexbox {
 display:flex;
 justify-content: space-between;
 align-items: center;   
}

.title {
  width: 15%;
  height: 56px;
}

.title h1 {
  font-size: 18px;
  font-weight: 600;
  color: var(--app-blue);
  line-height: 56px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
}

nav {
  width: 60;
  text-align: right;
}

nav ul {
  /* Removind the bullet points from the list */
  list-style: none;
  font-size: 0;
}

nav ul li {
  display: inline; /*move the li side to side */
  line-height: 56px;
  cursor: default;
}

nav ul li a {
  font-size: 17px;
  color:var(--app-light-bg);
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.4px;
  cursor:pointer;
}

nav ul li + li  {
  /* Removind the bullet points from the list */
  margin-left: 20px;
  /*list-style: none;*/
}

nav ul li a:hover {
  text-decoration: underline;
  background-color: var(--app-gray);
  
}

/*  Header*/
.center {
  width: 100%;
}

.row {
  display: flex;
}

.row + .row {
  margin-top: 10px;
}

.row  .column {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 2px rgb(0 0 0 / 0.1);
}

.column + .column {
  margin-left: 20px;
}

.column .icon {
  width: 100px;
  height: 100%;
  border-right: 1px solid rgb(0 0 0 / 0.1);
}

.data-input, .contact-zone{    
  padding: 20px 0;
  margin: 30px 0;  
}

.data-input > h1, .contact-zone > h3 {    
  padding: 10px 0;
  text-align: center;
  font-size: 25px;   
  color: var(--app-light-bg); 
}

.data-input{
  color:var(--app-light-bg);
  text-align: center;
}

.input-control{
  background-color: var(--app-light-bg); 
  width: 450px;
  height: 180px;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 16px;
  text-align: left;
}

.contact-item{
  color: var(--app-light-bg);
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 15px;
}

button{
  background-color: var(--app-blue);
  color   : var(--app-light-bg);
  font-size: 15px; 
  margin-left: 12px;
  width: 120px;
  height: 35px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.2px;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}

.contact-zone{
  padding: 5px;
  margin: 5px;
  display: flex;
}