@import "./reset.css";

:root {
    --app-dark-bg:#1a1d28;
    --app-red:#ff3c57;
    --app-green:#33ab4e;
    --app-purple:#833cff;
    --app-orange:#ff833c;
    --app-orange-hover:#fe7a2d;
    --app-blue:#3c57ff;
    --app-blue-hover:#364ee6;
    --app-light-bg: #ffffff;
}

body {
  background: var(--app-dark-bg);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.brand {
  color: var(--app-blue);
}

.menu {
  color: white;  
  flex-direction: row;
  padding: 10px;  
}

li {
  display: inline;
  padding: 20px;
}

li a {  
  color: white;
  text-align: center;
}

.btn-menu {
  background-color: var(--app-dark-bg);
  color: var(--app-light-bg);
}

.img-zone {
  margin: 10px;
}

.img-user {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.data-input, .contact-zone{    
  padding: 20px 0;
  margin: 30px 0;  
}

.data-input > h1, .contact-zone > h3 {    
  padding: 10px 0;
  text-align: center;
  font-size: 25px;   
  color: var(--app-light-bg); 
}

.data-input{
  color:rgb(77, 77, 77);
  text-align:start;
  background-color: transparent transparent;
}

.input-control{
  background-color: #0f1014; 
  color: var(--app-light-bg);
  width: 650px;
  height: 180px;
  padding: 0 10px 0 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 16px;
  text-align: left;
}

.contact-item{
  color: var(--app-light-bg);
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 15px;
}

button{
  background-color: var(--app-blue);
  color   : var(--app-light-bg);
  font-size: 15px; 
  margin-left: 12px;
  width: 120px;
  height: 35px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.2px;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
  position: absolute;
  overflow: visible;
  margin: 10px;
}

.grid-container {
  display: grid;
  width: 500px;
  height: 500px;
  background: rgb(27, 27, 23);
  grid-template-rows: 50px 50px 50px 50px;
  grid-template-columns: 50px 50px 50px 50px;
  grid-gap: 5px;
  margin-top: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.submit-btn {
  align-self: flex-end;
}

.img-upload {
  margin: 10px;
  align-self: flex-start;
}

.input-form {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items:center;  
}

.media-upload {
  width: 100px;
  height: 100px;
  background-color: var(--app-light-bg);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
}

.img-post{
  background-color: #ffffff;
}

.post-tools {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: center;
  align-items: flex-start;
}

.postcard-content {
  background-color: var(--app-light-bg);
  width: 650px;
  height: 350px;
  border-radius: 15px;
  padding: 30px;
  margin: 30px;
}

.post-content {
  color: var(--app-dark-bg);
  padding: 10px;
}

.post-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: stretch;
}

.post-name {
  display: flex;
  align-content: flex-start;
  align-items: center;
}

.userposted {
  margin: 10px;
}